# --- Cloud licensing (Supabase) -------------------------------------------
# Optional: leave empty to run fully offline with the local SQLite license.
# The app only READS the `subscriptions` table with the public anon key —
# all business data stays in the local SQLite database.
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
